# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json
appsettings.Production.json

# Node / Vue
node_modules/
dist/
dist-ssr/
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
**/local.properties
/android/app/build/
/android/app/release/

# iOS
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Docker
.dockerignore
