--
-- PostgreSQL database dump
--

\restrict ib9FN15BF8bRflxRzOoInmVoJm0Sys9MoNS4hZ7GZJN0XojPWqevcPTgQgf93Zr

-- Dumped from database version 15.19 (Debian 15.19-1.pgdg13+2)
-- Dumped by pg_dump version 15.19 (Debian 15.19-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Choix; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Choix" (
    "Id" uuid NOT NULL,
    "QuestionId" uuid NOT NULL,
    "Texte" text NOT NULL,
    "EstCorrect" boolean NOT NULL
);


ALTER TABLE public."Choix" OWNER TO postgres;

--
-- Name: Organes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Organes" (
    "Id" uuid NOT NULL,
    "Nom" text NOT NULL,
    "UrlImage" text NOT NULL
);


ALTER TABLE public."Organes" OWNER TO postgres;

--
-- Name: Questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Questions" (
    "Id" uuid NOT NULL,
    "TissuId" uuid NOT NULL,
    "Texte" text NOT NULL
);


ALTER TABLE public."Questions" OWNER TO postgres;

--
-- Name: ResultatsQCM; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ResultatsQCM" (
    "Id" uuid NOT NULL,
    "UtilisateurId" uuid NOT NULL,
    "ScanId" uuid NOT NULL,
    "Note" integer NOT NULL,
    "DateTest" timestamp with time zone NOT NULL
);


ALTER TABLE public."ResultatsQCM" OWNER TO postgres;

--
-- Name: Scans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Scans" (
    "Id" uuid NOT NULL,
    "UtilisateurId" uuid NOT NULL,
    "TissuId" uuid NOT NULL,
    "UrlImage" text NOT NULL,
    "ScoreConfiance" real NOT NULL,
    "DateScan" timestamp with time zone NOT NULL
);


ALTER TABLE public."Scans" OWNER TO postgres;

--
-- Name: TissuOrganes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TissuOrganes" (
    "TissuId" uuid NOT NULL,
    "OrganeId" uuid NOT NULL
);


ALTER TABLE public."TissuOrganes" OWNER TO postgres;

--
-- Name: Tissus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Tissus" (
    "Id" uuid NOT NULL,
    "Nom" text NOT NULL,
    "CodeLabelIa" text NOT NULL,
    "Description" text NOT NULL,
    "Fonctions" text NOT NULL
);


ALTER TABLE public."Tissus" OWNER TO postgres;

--
-- Name: Utilisateurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Utilisateurs" (
    "Id" uuid NOT NULL,
    "Nom" text NOT NULL,
    "Prenom" text NOT NULL,
    "Email" text NOT NULL,
    "MotDePasseHash" text NOT NULL,
    "Role" text NOT NULL,
    "DateCreation" timestamp with time zone NOT NULL,
    "EstActif" boolean DEFAULT false NOT NULL,
    "Apogee" text,
    "GroupeTp" text
);


ALTER TABLE public."Utilisateurs" OWNER TO postgres;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: Choix; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Organes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ResultatsQCM; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ResultatsQCM" ("Id", "UtilisateurId", "ScanId", "Note", "DateTest") FROM stdin;
9293036d-47fb-45b6-9337-b61531fe329d	11111111-1111-1111-1111-111111111111	2326357f-41f6-4dae-b4ed-0012ec162313	3	2026-08-27 12:02:38.406921+00
\.


--
-- Data for Name: Scans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TissuOrganes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Tissus; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Utilisateurs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260824170717_InitialCreate	10.0.11
20260824173917_SeedUser	10.0.11
20260824195125_SeedTissus	10.0.11
20260826221654_BcryptAndNewFeatures	10.0.11
20260827111240_AddEstActifToUtilisateur	10.0.11
20260902204247_AddGroupeTpAndApogeeToUtilisateur	10.0.11
\.


--
-- Name: Choix PK_Choix; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Choix"
    ADD CONSTRAINT "PK_Choix" PRIMARY KEY ("Id");


--
-- Name: Organes PK_Organes; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Organes"
    ADD CONSTRAINT "PK_Organes" PRIMARY KEY ("Id");


--
-- Name: Questions PK_Questions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Questions"
    ADD CONSTRAINT "PK_Questions" PRIMARY KEY ("Id");


--
-- Name: ResultatsQCM PK_ResultatsQCM; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResultatsQCM"
    ADD CONSTRAINT "PK_ResultatsQCM" PRIMARY KEY ("Id");


--
-- Name: Scans PK_Scans; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Scans"
    ADD CONSTRAINT "PK_Scans" PRIMARY KEY ("Id");


--
-- Name: TissuOrganes PK_TissuOrganes; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TissuOrganes"
    ADD CONSTRAINT "PK_TissuOrganes" PRIMARY KEY ("TissuId", "OrganeId");


--
-- Name: Tissus PK_Tissus; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Tissus"
    ADD CONSTRAINT "PK_Tissus" PRIMARY KEY ("Id");


--
-- Name: Utilisateurs PK_Utilisateurs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Utilisateurs"
    ADD CONSTRAINT "PK_Utilisateurs" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Choix_QuestionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Choix_QuestionId" ON public."Choix" USING btree ("QuestionId");


--
-- Name: IX_Questions_TissuId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Questions_TissuId" ON public."Questions" USING btree ("TissuId");


--
-- Name: IX_ResultatsQCM_ScanId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ResultatsQCM_ScanId" ON public."ResultatsQCM" USING btree ("ScanId");


--
-- Name: IX_ResultatsQCM_UtilisateurId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ResultatsQCM_UtilisateurId" ON public."ResultatsQCM" USING btree ("UtilisateurId");


--
-- Name: IX_Scans_TissuId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Scans_TissuId" ON public."Scans" USING btree ("TissuId");


--
-- Name: IX_Scans_UtilisateurId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Scans_UtilisateurId" ON public."Scans" USING btree ("UtilisateurId");


--
-- Name: IX_TissuOrganes_OrganeId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_TissuOrganes_OrganeId" ON public."TissuOrganes" USING btree ("OrganeId");


--
-- Name: IX_Tissus_CodeLabelIa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Tissus_CodeLabelIa" ON public."Tissus" USING btree ("CodeLabelIa");


--
-- Name: IX_Utilisateurs_Email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Utilisateurs_Email" ON public."Utilisateurs" USING btree ("Email");


--
-- Name: Choix FK_Choix_Questions_QuestionId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Choix"
    ADD CONSTRAINT "FK_Choix_Questions_QuestionId" FOREIGN KEY ("QuestionId") REFERENCES public."Questions"("Id") ON DELETE CASCADE;


--
-- Name: Questions FK_Questions_Tissus_TissuId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Questions"
    ADD CONSTRAINT "FK_Questions_Tissus_TissuId" FOREIGN KEY ("TissuId") REFERENCES public."Tissus"("Id") ON DELETE CASCADE;


--
-- Name: ResultatsQCM FK_ResultatsQCM_Scans_ScanId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResultatsQCM"
    ADD CONSTRAINT "FK_ResultatsQCM_Scans_ScanId" FOREIGN KEY ("ScanId") REFERENCES public."Scans"("Id") ON DELETE CASCADE;


--
-- Name: ResultatsQCM FK_ResultatsQCM_Utilisateurs_UtilisateurId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ResultatsQCM"
    ADD CONSTRAINT "FK_ResultatsQCM_Utilisateurs_UtilisateurId" FOREIGN KEY ("UtilisateurId") REFERENCES public."Utilisateurs"("Id") ON DELETE CASCADE;


--
-- Name: Scans FK_Scans_Tissus_TissuId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Scans"
    ADD CONSTRAINT "FK_Scans_Tissus_TissuId" FOREIGN KEY ("TissuId") REFERENCES public."Tissus"("Id") ON DELETE RESTRICT;


--
-- Name: Scans FK_Scans_Utilisateurs_UtilisateurId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Scans"
    ADD CONSTRAINT "FK_Scans_Utilisateurs_UtilisateurId" FOREIGN KEY ("UtilisateurId") REFERENCES public."Utilisateurs"("Id") ON DELETE CASCADE;


--
-- Name: TissuOrganes FK_TissuOrganes_Organes_OrganeId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TissuOrganes"
    ADD CONSTRAINT "FK_TissuOrganes_Organes_OrganeId" FOREIGN KEY ("OrganeId") REFERENCES public."Organes"("Id") ON DELETE CASCADE;


--
-- Name: TissuOrganes FK_TissuOrganes_Tissus_TissuId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TissuOrganes"
    ADD CONSTRAINT "FK_TissuOrganes_Tissus_TissuId" FOREIGN KEY ("TissuId") REFERENCES public."Tissus"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ib9FN15BF8bRflxRzOoInmVoJm0Sys9MoNS4hZ7GZJN0XojPWqevcPTgQgf93Zr

